/*----------Box Sizing--------*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }


  /*----------GLobal Styles--------*/

  body{
    background-color: forestgreen; font-family: 'Ubuntu', sans-serif;
  }

  header.primary{
    background-color: ;
  }